<script>
  let subnetMaskDecimal = 24;
  let subnetMaskBinary = "";
  let subnetMaske = "255.255.255.0";
  let netBits = 0;
  let hostBits = 0;
  let networkSize = 0;
  let networkSizeWithoutIdAndBroadcast = 0;

  function updateBinaryMask() {
    const binarySegments = Array(4).fill("0".repeat(8));
    const fullBinaryString =
      "1".repeat(subnetMaskDecimal) + "0".repeat(32 - subnetMaskDecimal);

    for (let i = 0; i < 4; i++) {
      binarySegments[i] = fullBinaryString.slice(i * 8, (i + 1) * 8);
    }

    subnetMaskBinary = binarySegments.join(".");
    updateNetworkInfo();
  }

  function updateSubnetMask() {
    subnetMaske = s();
    updateNetworkInfo();
  }

  function s() {
    if (
      subnetMaskDecimal < 0 ||
      subnetMaskDecimal > 32 ||
      !Number.isInteger(subnetMaskDecimal)
    ) {
      throw new Error("Ungültige Dezimalzahl für Subnetzmaske");
    }

    const binaryString =
      "1".repeat(subnetMaskDecimal) + "0".repeat(32 - subnetMaskDecimal);
    const octets = [
      parseInt(binaryString.slice(0, 8), 2),
      parseInt(binaryString.slice(8, 16), 2),
      parseInt(binaryString.slice(16, 24), 2),
      parseInt(binaryString.slice(24, 32), 2),
    ];

    return octets.join(".");
  }

  function updateNetworkInfo() {
    netBits = subnetMaskDecimal;
    hostBits = 32 - subnetMaskDecimal;
    networkSize = Math.pow(2, hostBits);
    networkSizeWithoutIdAndBroadcast = networkSize - 2;
  }
</script>

<main class="bg-dark">
  <div class="container-fluid text-center p-5 text-danger">
    <h1>Subnetzmasken-Rechner</h1>

    <label for="subnetSlider">Subnetzmaske /{subnetMaskDecimal}</label>
    <br />
    <input
      bind:value={subnetMaskDecimal}
      style="width: 80%; margin: 10px"
      type="range"
      id="subnetSlider"
      min="1"
      max="32"
      on:input={updateBinaryMask}
      on:input={updateSubnetMask}
    />

    <div>
      <h2>Subnetzmaske (Binär):</h2>
      <p>{subnetMaskBinary}</p>
    </div>

    <div>
      <h2>Subnetzmaske (Dezimal):</h2>
      <p>{subnetMaske}</p>
    </div>

    <div>
      <h2>Anzahl der Netzbits:</h2>
      <p>{netBits}</p>
    </div>

    <div>
      <h2>Anzahl der Hostbits:</h2>
      <p>{hostBits}</p>
    </div>

    <div>
      <h2>Größe des Netzes (inkl. Netz-Id und Broadcast):</h2>
      <p>{networkSize}</p>
    </div>

    <div>
      <h2>Größe des Netzes ohne Netz-Id und Broadcast:</h2>
      <p>{networkSizeWithoutIdAndBroadcast}</p>
    </div>
  </div>
</main>

<style>
</style>
